[Unit]
Description=twitmotd server daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/chirpmotd
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
